In [3]:
import pandas as pd
import numpy as np
import calendar
from datetime import datetime
import locale

In [4]:
locale.setlocale(locale.LC_ALL, 'esp')

'Spanish_Spain.1252'

In [5]:
df = pd.read_excel(
    'data/extraction/precios0108.xls',
    header=0,
    engine='xlrd',
    nrows=1
)

In [6]:
df.columns[1]

'01/08/2022 19:00'

In [7]:
date_obj = datetime.strptime(df.columns[1], '%d/%m/%Y %H:%M').date()
week_day = calendar.day_name[date_obj.weekday()].title()

In [8]:

df = pd.read_excel(
    'data/extraction/precios0108.xls',
    header=0,
    engine='xlrd',
    skiprows=3,
    decimal=',',
    dtype={'Provincia': str,
        'Precio gasolina 95 E5': np.float32,
           'Precio gasolina 95 E10': np.float32,
           'Precio gasolina 95 E5 Premium': np.float32,
           'Precio gasolina 98 E5': np.float32,
           'Precio gasolina 98 E10': np.float32,
           'Precio gasóleo A': np.float32,
           'Precio gasóleo Premium': np.float32,
           'Precio gasóleo B': np.float32,
           'Precio gasóleo C': np.float32,
           'Precio bioetanol': np.float32,
           'Precio biodiésel': np.float32,
           'Precio gases licuados del petróleo': np.float32,
           'Precio gas natural comprimido': np.float32,
           'Precio gas natural licuado': np.float32,
           'Precio hidrógeno': np.float32,
           'Longitud': np.float32,
           'Latitud': np.float32}
)

df.columns = [
    'provincia',
    'municipio',
    'localidad',
    'cp',
    'direccion',
    'margen',
    'longitud',
    'latitud',
    'toma_datos',
    'gasolina_95_E5',
    'gasolina_95_E10',
    'gasolina_95_E5_premium',
    'gasolina_98_E5',
    'gasolina_98_E10',
    'gasoleo_a',
    'gasoleo_premium',
    'gasoleo_b',
    'gasoleo_c',
    'bioetanol',
    'porcentaje_bioalcohol',
    'biodiesel',
    'porcentaje_ester_metilico',
    'gases_licuados_petroleo',
    'gas_natural_comprimido',
    'gas_natural_licuado',
    'hidrogeno',
    'rotulo',
    'tipo_venta',
    'rem',
    'horario',
    'tipo_servicio'
]

In [31]:
df['dia_semana'] = week_day
df['dia'] = date_obj
df['24H'] = df.apply(lambda x: True if '24H' in x['horario'] else False, axis=1)

In [32]:
df['24H']

0        False
1        False
2        False
3         True
4        False
         ...
11702     True
11703     True
11704    False
11705     True
11706     True
Name: 24H, Length: 11707, dtype: bool

In [22]:
df['24H']

0        False
1        False
2        False
3        False
4        False
         ...
11702    False
11703    False
11704    False
11705    False
11706    False
Name: 24H, Length: 11707, dtype: bool

In [80]:
df.info(verbose=True, memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11707 entries, 0 to 11706
Data columns (total 31 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Provincia                           11707 non-null  object
 1   Municipio                           11707 non-null  object
 2   Localidad                           11707 non-null  object
 3   Código postal                       11707 non-null  int64
 4   Dirección                           11707 non-null  object
 5   Margen                              11707 non-null  object
 6   Longitud                            11707 non-null  float32
 7   Latitud                             11707 non-null  float32
 8   Toma de datos                       11707 non-null  object
 9   Precio gasolina 95 E5               10593 non-null  float32
 10  Precio gasolina 95 E10              21 non-null     float32
 11  Precio gasolina 95 E5 Premium       778 non-null    float32
 12  Precio gasolina 98 E5               5959 non-null   float32
 13  Precio gasolina 98 E10              7 non-null      float32
 14  Precio gasóleo A                    11366 non-null  float32
 15  Precio gasóleo Premium              7483 non-null   float32
 16  Precio gasóleo B                    3015 non-null   float32
 17  Precio gasóleo C                    23 non-null     float32
 18  Precio bioetanol                    5 non-null      float32
 19  % bioalcohol                        0 non-null      float64
 20  Precio biodiésel                    37 non-null     float32
 21  % éster metílico                    0 non-null      float64
 22  Precio gases licuados del petróleo  836 non-null    float32
 23  Precio gas natural comprimido       116 non-null    float32
 24  Precio gas natural licuado          79 non-null     float32
 25  Precio hidrógeno                    0 non-null      float32
 26  Rótulo                              11707 non-null  object
 27  Tipo venta                          11707 non-null  object
 28  Rem.                                11707 non-null  object
 29  Horario                             11707 non-null  object
 30  Tipo servicio                       11707 non-null  object
dtypes: float32(17), float64(2), int64(1), object(11)
memory usage: 9.6 MB

In [82]:
df.describe()

,Código postal,Longitud,Latitud,Precio gasolina 95 E5,Precio gasolina 95 E10,Precio gasolina 95 E5 Premium,Precio gasolina 98 E5,Precio gasolina 98 E10,Precio gasóleo A,Precio gasóleo Premium,Precio gasóleo B,Precio gasóleo C,Precio bioetanol,% bioalcohol,Precio biodiésel,% éster metílico,Precio gases licuados del petróleo,Precio gas natural comprimido,Precio gas natural licuado,Precio hidrógeno
count,11707.000000,11707.000000,11707.000000,10593.000000,21.000000,778.000000,5959.000000,7.000000,11366.000000,7483.000000,3015.000000,23.000000,5.000000,0.0,37.000000,0.0,836.000000,116.000000,79.000000,0.0
mean,25438.568634,-3.320642,39.623272,1.889105,1.981524,1.964600,2.038363,2.116857,1.880755,1.969400,1.531155,1.577478,2.041200,NaN,1.845838,NaN,1.046001,2.238733,2.191392,NaN
std,14499.381494,3.863107,3.056968,0.090343,0.083504,0.061627,0.120492,0.108223,0.087405,0.085683,0.094029,0.084191,0.329002,NaN,0.123360,NaN,0.087813,0.146083,0.171805,NaN
min,1002.000000,-18.011944,27.705334,1.335000,1.797000,1.539000,1.490000,1.989000,1.347000,1.480000,1.009000,1.309000,1.487000,NaN,1.449000,NaN,0.680000,1.889000,1.069000,NaN
25%,12006.000000,-5.443792,38.007444,1.869000,1.939000,1.934000,2.009000,2.023000,1.849000,1.949000,1.469000,1.549000,1.999000,NaN,1.769000,NaN,1.018000,2.188000,2.125000,NaN
50%,27150.000000,-3.475306,40.047722,1.899000,1.989000,1.965500,2.051000,2.141000,1.899000,1.989000,1.525000,1.599000,2.199000,NaN,1.839000,NaN,1.049000,2.188000,2.225000,NaN
75%,38108.000000,-0.679417,41.679430,1.939000,1.999000,1.999000,2.091000,2.183500,1.929000,2.019000,1.590000,1.614000,2.222000,NaN,1.939000,NaN,1.079000,2.287000,2.225000,NaN
max,52006.000000,4.279500,43.731808,2.329000,2.199000,2.209000,2.999000,2.275000,2.309000,2.300000,1.949000,1.749000,2.299000,NaN,2.059000,NaN,1.291000,2.986000,2.799000,NaN